<% include header.ejs %>

<div class="main-gallery">
    <div style="text-align:center">
        <h2>Birds of Prey</h2>
    </div>
    <p>
    Bird of prey or predatory bird, also known as raptors, refers to several species of birds that hunt and feed on rodents and other small animals. The term raptor is derived from the Latin word rapere, meaning to seize or take by force. These birds are characterized by keen vision that allows them to detect their prey during flight, as well as powerful talons and beaks.
    </p>
    <ul>
    <% for(var i = 0; i < pieces.length; i++) { %>
        <li>
            <a href="pieces/birds_of_prey/<%= pieces[i] %>">
                <img src="pieces/birds_of_prey/<%= pieces[i] %>/thumbnail.jpg" style="width:100%" />
            </a>
        </li>
    <% } %>
    </ul>
</div>

<% include footer.ejs %>