<% include header.ejs %>

<div class="main-gallery">
    <div style="text-align:center">
        <h2>Raptors</h2>
    </div>
    <ul>
    <% for(var i = 0; i < pieces.length; i++) { %>
        <li>
            <a href="pieces/birds_of_prey/<%= pieces[i] %>">
                <img src="pieces/birds_of_prey/<%= pieces[i] %>/thumbnail.jpg" style="width:100%" />
            </a>
        </li>
    <% } %>
    </ul>
</div>

<% include footer.ejs %>