<%- include('header.ejs') %>

<p>Contact Charles for available pieces in his personal collection via email at <a href="mailto:contact@wildfowlcarver.com">contact@wildfowlcarver.com</a>.</p>
<div class="row">
    <div class="col-md-6">
        <img src="images/main_nav/decorative.jpg" />
    </div>
    <div class="col-md-6">
        <img src="images/main_nav/birds_of_prey.jpg" />
    </div>
</div>

<%- include('footer.ejs') %>