    </div>
        </div>
<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <h2>Follow / Contact</h2>
                        <ul class="icons">
                            <li><a href="https://www.instagram.com/wildfowlcarver/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="mailto:contact@wildfowlcarver.com" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
                        </ul>
                    </section>
                    <ul class="copyright">
                        <li>&copy; Charles Gunther</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </footer>

		<!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>        
        <script src="/js/lightbox.min.js"></script>

	</body>
</html>