<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107858480-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107858480-1');
    </script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Charles Gunther Carving</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
    <link rel="stylesheet" href="/css/carving.css">

    <link href="/css/lightbox.min.css" rel="stylesheet">

</head>
<body>

<div class="container">

    <div class="row header">
        <div class="col-md-8">
            <h1><a href="/">Charles Gunther Carving</a></h1>
        </div>    
        <div class="col-md-4 navigation">
            <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a>
        </div>
    </div>

    <hr/>