<% include header.ejs %>

<div class="main-gallery">
    <div style="text-align:center">
        <h2>The Process</h2>
    </div>
    <p>
    Description of the carving process.
    </p>
</div>

<% include footer.ejs %>