<% include header.ejs %>

<div class="main-gallery">
    <div style="text-align:center">
        <h2>The Process</h2>
    </div>
    <ul>
        <li><img src="images/in_progress/1.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/2.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/3.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/4.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/5.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/6.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/7.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/8.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/9.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/10.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/11.jpg" style="width:100%" /></li>
        <li><img src="images/in_progress/12.jpg" style="width:100%" /></li>
    </ul>
</div>

<% include footer.ejs %>