<% include header.ejs %>

<section class="tiles">        
    <article class="style1">
        <span class="image">
            <img src="/images/in_progress/1.jpg" alt="" />
        </span>
        <a href="/images/in_progress/1.jpg" data-lightbox="gallery">
        </a>
    </article>
    <article class="style1">
        <span class="image">
            <img src="/images/in_progress/2.jpg" alt="" />
        </span>
        <a href="/images/in_progress/2.jpg" data-lightbox="gallery">
        </a>
    </article>
    <article class="style1">
        <span class="image">
            <img src="/images/in_progress/3.jpg" alt="" />
        </span>
        <a href="/images/in_progress/3.jpg" data-lightbox="gallery">
        </a>
    </article>
</section>
<hr/>
<section>
    <div class="box alt">
        <div class="row uniform">
            <p>
                The process begins with field study and the collection of reference materials. Recently I was fortunate to have interaction with a live eagle which has inspired this latest piece. Subsequently I will sketch images composing a design of the subject.
            <br/><br/>
                Once I have a design that I am comfortable with, I will construct a clay maquette to create the form I'm looking for. I will limit the detail of the subject and focus only on major feather groups, the tilt of the head or the extent of how wide the tail or wings would be displayed. The reason behind this process is to alter the clay sculpture to make the appropriate adjustments before carving in wood.
            <br/><br/>
                For the eagle I have constructed a pipe support mechanism to secure a foam mannequin where clay will be applied to form the maquette.​
            </p>                                        
        </div>
    </div>
</section>

<% include footer.ejs %>