<% include header.ejs %>

<div class="main-gallery">
    <div style="text-align:center">
        <h2>In Progress</h2>
    </div>
    <p>
    Something about in progress work.
    </p>    
</div>

<% include footer.ejs %>