<% include header.ejs %>

<section class="tiles">        
    <article class="style1">
        <span class="image">
            <img src="/images/in_progress/1.jpg" alt="" />
        </span>
        <a href="/images/in_progress/1.jpg" data-lightbox="gallery">
        </a>
    </article>
    <article class="style1">
        <span class="image">
            <img src="/images/in_progress/2.jpg" alt="" />
        </span>
        <a href="/images/in_progress/2.jpg" data-lightbox="gallery">
        </a>
    </article>
    <article class="style1">
        <span class="image">
            <img src="/images/in_progress/3.jpg" alt="" />
        </span>
        <a href="/images/in_progress/3.jpg" data-lightbox="gallery">
        </a>
    </article>
</section>
<hr/>
<section>
    <div class="box alt">
        <div class="row uniform">
            <p>
                The first step of the process is a lot of refrence that I secure with the help of the internet and field study. In the case of the eagle I was fortunate to have interaction with a live bird. I will also sketch images composing a design of the subject.
            <br/><br/>
                The next step is once I have a design that I'm comfortable with, a maquette in clay will be constructed to create the form I'm looking for. I will limit the detail of the subject and focus only on major feather groups, the tilt of the head or the extent of how wide the tail or wings would be displayed. Of course the reason behind this process is the ability to sculpt make the appropriate adjustments before carving in wood. I can transfer all the anxioms of my subject to an accurate patern two duplicate a three dimensional carving in wood.
            <br/><br/>
                I've constructed a support mechanism from pipe to secure a foam manikin where clay will be applied to form a maquette.​
            </p>                                        
        </div>
    </div>
</section>

<% include footer.ejs %>