<% include header.ejs %>

<div class="row">
    <div class="col-md-4">
        <a href="decorative">
            <div class="main-nav-image">
                <img src="images/in_progress/owl1.jpg" />
                <h2><span>Screech Owl</span></h2>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/birds_of_prey">
            <div class="main-nav-image">
                <img src="images/in_progress/owl2.jpg" />
                <h2><span>Great Horned Owl</span></h2>
            </div>        
        </a>
    </div>
    <div class="col-md-4">
        <a href="/songbirds">
            <div class="main-nav-image">
                <img src="images/in_progress/eagle.jpg" />
                <h2><span>Golden Eagle</span></h2>
            </div>        
        </a>
    </div>
</div>

<% include footer.ejs %>