<% include header.ejs %>

<div class="main-gallery">
    <ul>
    <% for(var i = 0; i < pieces.length; i++) { %>
        <li>
            <a href="pieces/<%= pieces[i] %>">
                <img src="pieces/<%= pieces[i] %>/thumbnail.jpg" style="width:100%" />
            </a>
        </li>
    <% } %>
    </ul>
</div>

<% include footer.ejs %>