img {
    width: 100%;
    border: 1px solid grey;
}

.header {
    padding: 5px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: '100';
}

.main-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-gallery li {
    display: block;
    float: left;
    display: block;
    padding: 15px;
    width: 33%;
}

.main-gallery img {
    -webkit-transition: .2s all;
}

.main-gallery img:hover {
    -webkit-filter: brightness(50%);
}

.gallery-label {
    color: white;
    position: relative;
    top: 20px;
}

.piece-gallery-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.piece-gallery-li {
    padding: 15px;
}

.navigation {    
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer {
    padding-top: 20px;
    text-align: center;
}