body {
    background-color: white;
    height: 100%;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}


.header-container {
    background-color: #f0f0f0;
    padding-top: 1em;
    border-bottom: black 2px solid;
}

.main-container {
    padding: 1em 2em 2em 2em;
}


img {
    width: 100%;
    border: 2px solid black;
}

.main-nav-image {
    position: relative;
    width: 100%;
}

.main-nav-image h2 {
    position: absolute; 
    bottom: .5em; 
    left: 0px; 
    width: 100%;
    font-weight: 900;
}

.main-nav-image span {
    color: black;
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0);
    padding: 10px;
}

hr {
    margin-top: 0px;
    margin-bottom: 1em;
}

.main-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-gallery li {
    display: block;
    float: left;
    padding: 1em;
    width: 33%;
}

.main-gallery img:hover {
    opacity: .9;
}

.main-nav-image img:hover {
    opacity: .9;
}

.gallery-label {
    color: white;
    position: relative;
    top: 20px;
}

.piece-gallery-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.piece-gallery-li {
    padding: 15px;
    display: block;
    float: left;
    width: 100%;
}

.navigation a {
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: none;
    color: black;
}

.navigation h4 {
    font-weight: bold;
}

.navigation a:hover {
    font-weight: bold;
}

footer {
    padding-top: 20px;
    text-align: center;
}